
@{
    ViewBag.Title = "View";
}
@section scripts {
    <script src="~/bundles/knockout"></script>
    <script src="~/Scripts/custom/todo.js"></script>
}
<h2>Todo list</h2>

<form>
    <label>New item <input type="text" name="newItemTitle" data-bind="value: newItemTitle" /> </label>
    <input type="submit" value="Add" data-bind="click: addItem" />
</form>
<ul data-bind="foreach: items">
    <li><span data-bind="text: title"></span> <a data-bind="if: !completed(), click: $root.completeItem" href="#">complete</a></li>
</ul>

